@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: "Noto Sans KR", sans-serif;
}

::selection {
	background: #5829bb;
	color: white;
}
.menu_padding {
	padding: 8px 0;
}
.main.menu {
  margin-top: 0em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease;
}
.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.ui.secondary.pointing.menu {
	z-index: 99999;
	border-bottom: 0;
}
.ui.secondary.pointing.menu .item {
	padding: 1.8em 1em;
}
.ui.secondary.pointing.menu .item.brand {
	padding: 1.6em 1em;
	padding-left: 0;
}
.ui.secondary.pointing.menu .item:last-child {
	padding-right: 0;
}

.ui.secondary.pointing.menu.fixed .item {
	padding: 1.3em 1em;
}
.ui.secondary.pointing.menu.fixed .item.brand {
	padding: 1.1em 1em;
	padding-left: 0;
}
.ui.secondary.pointing.menu.fixed .item:last-child {
	padding-right: 0;
}
#viewsearch {
	position: absolute;
	top: 3px;
	left: 165px;
	background: white;
	z-index: 999999;
}

.image .ui.dimmer, .card .image .ui.dimmer {
  z-index: 1;
}
#likes_feed {
	margin-top: 0;
}

#likes_feed .item:first-child {
	padding-top: 12px;
}

#likes_feed .item:last-child {
	padding-bottom: 12px;
}

.btn_follow {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.end-div {
	margin-bottom: 28px;
}

@media (max-width: 767px) {
  .ui.secondary.pointing.menu .item {
	padding-left: 10px !important;
  }
}
@media (min-width: 768px) {

}