@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: "Noto Sans KR", sans-serif;
}

::selection {
	background: #5829bb;
	color: white;
}
.menu_padding {
	padding: 8px 0;
}
.main.menu {
  margin-top: 0em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease;
}
.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.ui.secondary.pointing.menu {
	z-index: 99999;
	border-bottom: 0;
}
.ui.secondary.pointing.menu .item {
	padding: 1.8em 1em;
}
.ui.secondary.pointing.menu .item.brand {
	padding: 1.6em 1em;
	padding-left: 0;
}
.ui.secondary.pointing.menu .item:last-child {
	padding-right: 0;
}

.ui.secondary.pointing.menu.fixed .item {
	padding: 1.3em 1em;
}
.ui.secondary.pointing.menu.fixed .item.brand {
	padding: 1.1em 1em;
	padding-left: 0;
}
.ui.secondary.pointing.menu.fixed .item:last-child {
	padding-right: 0;
}
#viewsearch {
	position: absolute;
	top: 2px;
	left: 175px;
	z-index: 999999;
	font-size: 14px;
}
#viewsearch table {
	border-collapse: collapse;
	background: white;
}
#viewsearch th, td {
	border: 1px solid black;
	padding: 3px 7px;
}
.autocomplete {
/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}	
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.ui.menu .right.menu .dropdown .menu {
	position: absolute;
	top: 50px !important;
}

.image .ui.dimmer, .card .image .ui.dimmer {
  z-index: 1;
}
#likes_feed {
	margin-top: 0;
}

#likes_feed .item:first-child {
	padding-top: 12px;
}

#likes_feed .item:last-child {
	padding-bottom: 12px;
}

.btn_follow {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

@media (max-width: 767px) {
	.ui.secondary.pointing.menu .item {
		padding: 1.5em 0.4em;
	}
	.ui.secondary.pointing.menu .item.brand {
		padding-left: 0.8em;
	}
	.ui.secondary.pointing.menu .item:last-child {
		padding-right: 0.8em;
	}
	.ui.secondary.pointing.menu.fixed .item {
		padding: 1.1em 0.4em;
	}
	.ui.secondary.pointing.menu.fixed .item.brand {
		padding-left: 0.8em;
	}
	.ui.secondary.pointing.menu.fixed .item:last-child {
		padding-right: 0.8em;
	}
	#item_search {
		display: none;
	}
	/* #searchid {
		width: 150px;
	} */
  
}
@media (min-width: 768px) {

}