body {
  background-color: #fafafa;
}

.brand {
  margin-top: 108px;
}

#signup_header {
  margin-bottom: 20px;
}

.fixed_col {
  max-width: 360px;
}

.signup_form {
  height: 332px;
}

.user_box {
  width: 332px;
}

.centered-and-cropped {
  /*  */
  /* border-radius: 50%; */
  width: 300px;
  height: 300px;
  object-fit: cover;
}

input[id="profilePath"] {
  display: none;
}