#header_user {
  height: 60px;
  line-height: 32px;
}

#header_userid {
  font-weight: 400;
  font-size: 2rem;
  margin-right: 54px;
}

#header_button {
  margin-left: 0;
}

#header_button .button {
  padding-left: 14px;
  padding-right: 14px;
}

#header_hashtag {
  font-weight: 400;
}

input[type="file"] {
  display: none;
}

.centered-and-cropped {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#feed_image {
  width: 45px; height: 45px;
  object-fit: cover;
}

#posted_image {
  margin-bottom: 12px;
}

#my_profile_img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.div-profile {
	margin: 0 auto;
}

.div-profile-img {
	border-radius: 50%;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

.div-text-input {
  margin: 1em 0;
}

.div-comments {
  display: block;
  margin-bottom: 5em;
}

.cropped-image {
/* object-fit: cover는 */
/* 	box-sizing: border-box; */
/* 	overflow: hidden; */
/* 	position: relative; 이 세 속성을 묶은 것과 같은 효과가 있는 듯하다. */
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.ui.custom.popup {
  min-width: 400px;
}

.ui.reply.form textarea:not([rows]) {
	/* height: 5em; */
	min-height: 75px;
	max-height: 75px;
	height: 75px;
}

#map_canvas {
  width: 100%;
  height: 500px;
}

@media (max-width: 767px) {
  .div-profile {
    width: 96px;
    height: 96px;
  }
}
@media (min-width: 768px) {
  .div-profile {
    width: 152px;
    height: 152px;
  }
}